*{margin: 0;padding: 0;}

.cabecalho{
    background-color: #CF943C;
    color: white;
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item {
    display: inline-block; margin: 0 16px; font-size: 24px;
}

.cabecalho-lista-item {
    letter-spacing: 4px;
    word-spacing: 20px;
}

.site-parte1 {background-image: url(Rectangle\ 7.png);}

.imagem{
    width: 100%; ;
}